@import url(https://fonts.googleapis.com/css2?family=Tajawal&display=swap);
.body{
    text-align: center;
    font-style:  'Tajawal', sans-serif;
    background-color:#D8D5BA ;
    
}
p{
    color: #00495F;   
    font-size: 25px;
}
em{
    color:black;
}
.fieldset{
    height: 200px;
    width: auto;
}
#email{
    color:black;
    font-style: italic;
    height: 30px;
    width: 500px;
    font-size: 15px;
}
.btn-sub{
    width: 150px;
    height: 50px;
    background-color: #F99F53;
    color: #D8D5BA;
    font-size: 15px;
}
.btn-sub:hover{
    background-color:#3B695F ;
    color:#FDD9D5;
    font-size: 20px;
}
#contact-p{
    color: #00495F;

}
.span{
    display: inline;
    height: 10px;
    width: 10px;
}
.insta{
    height: 20px;
    width: 20px;
    margin-left: 5cm;
    margin-right: 6cm;
    padding: 10px;
}
.twit{
    height: 20px;
    width: 20px;
    margin-left: 20cm;
    margin-right: 4cm ;
    padding: 10px;
}
.git{
    height: 20px;
    width: 20px;
    margin-left:25cm;
    margin-right: 20cm;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.footer-content{
    background-color:#3B695F;
    height: 3cm;
    width: 100%;

}
.footer-bottom{
    height: 3cm;
    width: 100%;
    background-image: url(foot.jpeg);
}
#footer{
    text-align: center;
    padding-inline-end: 10px;
}

.footer-list{
    justify-content: center;
    align-items: center;

  
}